<dl>
    <dt>Is A</dt>
    <dd>{IS_A_LINKS}</dt>
    <!-- BEGIN mustUse -->
    <dt>Must Use</dt>
    <dd>{MUST_USE_LINKS}</dd>
    <!-- END mustUse -->
    <!-- BEGIN mayUse -->
    <dt>May Use</dt>
    <dd>{MAY_USE_LINKS}</dd>
    <!-- END mayUse -->
    <!-- BEGIN children -->
    <dt>Children</dt>
    <dd>{CHILDREN_LINKS}</dd>
    <!-- END children -->
    <!-- BEGIN mustBeUsedBy -->
    <dt>Must be used by</dt>
    <dd>{MUST_BE_USED_BY_LINKS}</dd>
    <!-- END mustBeUsedBy -->
    <!-- BEGIN mayBeUsedBy -->
    <dt>May be used by</dt>
    <dd>{MAY_BE_USED_BY_LINKS}</dd>
    <!-- END mayBeUsedBy -->
</dl>